
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
  font-family:cabin, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3;
}

a {
    color: #5334F5;
    font-weight: 600;
    text-decoration: none;
  }

h1{
    font-size:2rem;
    margin-bottom: 20px;
}
h2{
    font-size:1.5rem
}
p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgba(0, 0, 0, 0.3) transparent transparent transparent;

  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
.hero{
    min-height: 920px;
    background-image: url(images/Herop-BG2.jpg)
}
.hero h1{
    color: rgba(255,255,255, 0.8)
}
.hero h2{
    color: rgba(255,255,255, 0.8)
}
.hero p {
    color: rgba(255,255,255, 0.9)
}
.hero-intro{
    padding: 0 15%;
    align-items: center;
}

.follow-me{
    margin-right: 10px;
}

.hero-profile-img{
    position: absolute;
    left: 60%;
}

.hero svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .white-bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
  }

  .resource-title{
    position:relative;
    display:inline-block;
    margin:1em;
    font-size: 28px;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(79, 5, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

[data-be-projects]{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:0;
}
[data-be-projects] li{
    position:relative;
    display:inline-block;
    margin:1em;
    border-radius:3px;
    overflow:hidden;
    transition:all linear .3s;
    border-radius: 0px;
    z-index:0;
}
[data-be-projects] li:hover{
    transform:scale(1.1);
    border-radius: 0px;
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.3);
   
}

/* [data-be-projects] li:hover .cover-details{
    opacity:1;
    border-radius: 0px;
} */
[data-be-projects] img:hover {
    transform:scale(1.1);
    border-radius: 0px;
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.3);
   
}
[data-be-projects] img{
    display:block;
    width:400px;
    box-sizing:border-box;
    transition:all ease .4s;
    border-radius: 0px;

}
[data-be-projects] .cover-details{
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items:center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(63, 1, 78,.9);
    opacity:0;
    transition:all linear .2s;
    text-align:center
}
[data-be-projects] .project-title{
    font-weight:600;
    color: rgba(255,255,255, 0.8);
}

[data-be-projects] .project-labels{
    font-size:14px;
    color: rgba(255,255,255, 0.8);
}

#shots{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:0;
}
.img-shot {
    width: 400px;
    height: auto;
    position:relative;
    display:inline-block;
    margin:1em;
}

.img-shot:hover {
    transition:all ease .4s;
    transform:scale(1.1);
    border-radius: 0px;
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.3);
}

footer{
    background-color: rgba(0, 0, 0, 0.8)
}
.footer-info{
    position:relative;
    display:inline-block;
    margin:1em;
    font-size: 12px;
    color: #fff;
}